<div class="bills">
    <h1>Bills</h1>
    <ul>
        <li ng-repeat="bill in ctrl.bills">
            <div class="bill-info">
                <h3>{{ bill.title | uppercase}}</h3>
                <h3>{{ bill.total | currency}}</h3>
                <h5>{{ bill.dueDate | date: 'MM/dd/yyyy'}}</h5>
            </div>
            <div class="menu-buttons">
                <button type="button" ng-click="ctrl.editBill(bill)">EDIT</button>
                <button type="button" ng-click="ctrl.deleteBill(bill._id)">DELETE</button>
            </div>
            <div class="container">
                <form ng-submit="ctrl.updateBill(bill)">
                    <input type="text" placeholder="Bill Title" ng-model="ctrl.updatedTitle">
                    <input type="number" placeholder="Bill Total" ng-model="ctrl.updatedTotal">
                    <input type="date" placeholder="Bill Due Date" ng-model="ctrl.updatedDueDate">
                    <input type="submit" value="UPDATE">
                </form>
            </div>
            <!-- <ul>
                <li>{{ bill.members }}</li>
            </ul> -->
        </li>
    </ul>
    <form ng-submit="ctrl.createBill();">
        <input type="text" placeholder="Bill Title" ng-model="ctrl.newBillTitle">
        <input type="number" placeholder="Bill Total" ng-model="ctrl.newBillTotal">
        <input type="date" id="start"
        value="2019-05-18"
        min="2019-01-01"
        max="2019-12-31"
        ng-model="ctrl.newBillDueDate">
        <input type="text" placeholder="Roommates" ng-model="ctrl.newBillUsers">
        <input type="submit" value="Add Bill">
    </form>
</div>
